# Binaries
terraform-provider-statusgator
*.exe

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Test
coverage.out
coverage.html

# Build
dist/
